# Ambientes Virtuais
.venv/
venv/
env/
.env

# SEGURANÇA: Ignorar apenas as senhas do Streamlit
.streamlit/secrets.toml

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Dados e Logs (Mantém o repo limpo)
*.csv
*.xlsx
*.log

# Arquivos de Sistema e IDE
.DS_Store
Thumbs.db
.vscode/
*.code-workspace

# Rascunhos e Arquivos de Suporte Local
calc.png
creatingtables.txt
docker_check_db.txt
docker-compose.yml
dashboard_images/